html
    head
        include generals/head 
        link(rel='stylesheet', href='viewStyles.css',type='text/css')
        link(rel='stylesheet', href='fontStyles.css', type='text/css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        include generals/nav
        div
            div(class='z-depth-3' id='tarjeta')        
                form(class='col s12')
                    div(class='row')
                        div(class='input-field col s6')
                            input(id='first-name' type='text' name='first-name' required)
                            label(for='first-name') Nombres
                        div(class='input-field col s6')
                            input(id='last-name' type='text' name='last-name' required)
                            label(for='last-name') Apellidos
                    div(class='row')
                        div(class='input-field col s12')
                            input(id='cedula' type='number' min='0' name='cedula' required)
                            label(for='cedula') Cedula
                footer
                    div(class='col s12' id='footerTarjeta')
                        button(class='btn-floating waves-effect red' id='borrar' type='submit')
                            i(class='material-icons') delete
                        button(class='btn-floating waves-effect blue' id='guardar' type='submit')
                            i(class='material-icons') system_update_alt
                        button(class='btn-floating waves-effect green' id='factura' type='submit')
                            i(class='material-icons') insert_drive_file

                            
        include generals/footer