nav
    div(class='nav-wrapper' style='background:dodgerblue;')
        a(href='#!' class='brand-logo center') lAb
        ul(class='rigth')
            li
                a(href='/login') Iniciar sesión                
        