nav
    div(class='nav-wrapper' style='background:dodgerblue;')
        a(href='/' class='brand-logo center') lAb
        - if(user)
           
            ul(class='left')
                li
                    a(href='/viewClientes') Ver clientes
                li
                    a(href='/addCliente') A침adir cliente                
                li  
                    a(href='/viewProductos') Ver productos
                - if(user.local.cargo == 'admin')
                    li
                        a(href='/addProducto') A침adir producto
                
            ul(class='right')
                - if(user.local.cargo == 'admin')                    
                    li
                        a(href='/addCajer@') A침adir cajer@ 
                li
                    a(href='/logout') Salir
                    
        - else
            ul(class='right')
                li
                    a(href='/login') Iniciar sesi칩n                