h1{
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
}

h2{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
}

h4{
    font-family: 'Roboto', sans-serif;
}

h5{
    font-family: 'Roboto', sans-serif;
}

h6{
    font-family: 'Roboto', sans-serif;
}

a{
    font-family: 'Roboto', sans-serif;
}